
Filter: <input type="text" [(ngModel)]="prix" >

<div *ngFor="let p of listProdcut, let i =index" class="row"  >

        <div *ngIf="p.price < prix || !prix " class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/product.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <h5 class="card-title">{{p.price}} and {{p.quantity}}</h5>
              <button class="btn btn-primary" (click)="BuyProduct(i)" [disabled]="p.quantity==0"  >Buy</button>
              <button class="btn btn-primary" (click)="LikeProduct(i)"   >Like</button>
              <button class="btn btn-primary" (click)="showDetails(p.id)"   >Details</button>
               
              <a [routerLink]="['productDetails',p.id]" [queryParams]="{'name':'test'}">Show Details</a>
            </div>
        </div>

      </div>

<router-outlet></router-outlet>